
span {
    background: #F5F5DC;
    color: black;
    font-size: 12px;
}

.graphStyle {
    background: white;
    height: auto;
    width: 130%;
}

.map {
    display: flex !important;
    margin-left: 35vw;
}

@media only screen and (min-width: 600px) {
    .graph canvas{
    width: 60vw;
}

.map {
    margin-left: 15vw;
}

.pie {
    width: 30vw;
    display: flex;
}
}